[Unit]
Description=scrape-free-proxy-list-app

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/erieljr1/scrape-free-proxy-list

[Install]
WantedBy=multi-user.target